body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    color: #003631;
    line-height: 1.6;
    background-color: #ffeda8;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.kutu {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sifirlama {
    clear: both; /* float temizlemek icin*/
}





#bas{
    position: relative;
    display: flex;
    text-align: center;
    justify-content:center ;
    gap: 10px;
    
}
#bas h1{
    margin: 0;
}

#bas-logo{
    position: absolute;
    left: -20%;
    top: -35%;

    width: 35%;
    margin: 0;
    padding-right: 5%;
    box-sizing: border-box;
}
#bas-logo img{
    width: 55%;
    border-radius: 100%;
    box-shadow:-4px 8px 5px #014d45;
    border: 2px solid #003631;
}




form{
margin: auto 35%;
text-align: left;
}

.form-yazi{
    padding: 25px 10px;
    width: 35%;
    height: 10%;
    text-align: center;

    background-color: #ffeda8;
    box-shadow: 0 2px 5px #003631;

    border-color: #003631;
    border-radius: 8px;

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}


.form-cevap{
    padding: 25px 10px;
    width: 100%;
    height: 10%;
    text-align: center;

    background-color: #ffeda8;
    box-shadow: 0 2px 5px #003631;

    border-style: none;
    border-radius: 8px;

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}


.buton1{
    margin: auto 10%;
    padding: 25px 10px;
    width: 60%;
    height: 10%;
    text-align: center;
    float: left;

    background-color: #ffeda8;
    box-shadow: 0 2px 5px #003631;

    border-style: none;
    border-radius: 8px;

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.buton2{
    margin: auto 10%;
    padding: 25px 10px;
    width: 60%;
    height: 10%;
    text-align: center;
    margin-left: 0;

    background-color: #ffeda8;
    box-shadow: 0 2px 5px #003631;

    border-style: none;
    border-radius: 8px;

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

form span{
    position: relative;
    right: 10%;
    display: flex;
    gap: 0px;
}






.ust-bolum {
    background-color: #003631;
    background-image: url(resim/background.jpeg);
    color: #ffeda8;
    padding: 65px 0;
    text-align: center;
    border-bottom: 5px solid #014d45;
}


.ust-bolum h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 2px;
}

.ana-menu {
    background-color: #003631;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.ana-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ana-menu li {
    display: inline-block;
}

.ana-menu a {
    display: block;
    padding: 15px 30px;
    color: #ffeda8;
    font-weight: bold;
    font-size: 1.1em;
}

.ana-menu a:hover {
    background-color: #D9F7D1;
    color: #003631;
}







section {
    padding: 60px 0;
}

#hakkimda {
    background-color: #ffeda8;
    padding: 20px;
}

.ayri-bolum {
    background-color: #ffeda8;
    border-top: 5x solid #EADFF7;
    border-bottom: 5px solid #ffeda8;
}

.bolum-basligi {
    text-align: center;
    margin-bottom: 40px;
}


.bolum-basligi h2 {
    font-size: 2.5em;
    color: #003631;
    margin-bottom: 10px;
}

.ayirici {
    width: 180px;
    height: 3px;
    background-color: #003631;
    border: none;
    margin: 0 auto;
}

#ayri{
    background-color: #e0ce83;
    height: 5px;
}









.logo {
    float: left;
    width: 35%;
    margin: 0;
    padding-right: 5%;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    border-radius: 100%;
    box-shadow: -10px 12px 10px #014d45;
    border: 2px solid #003631;
    
}

.tanitim {
    float: right;
    width: 60%;
    font-size: 1.1em;
}

.uzmanlik ul {
    margin-top: 20px;
    padding-left: 20px;
}

.uzmanlik li {
    margin-bottom: 10px;
    color: #003631;
    font-weight: bold;
}






.projeler {
    margin-top: 20px;
}

.proje {
    display: block;
    float: left;
    width: 31.33%; 
    margin: 1%;
    text-decoration: none;

    background-color: #ffeda8;
    box-shadow: 0 2px 5px #003631;

    border-color: #003631;
    border-radius: 8px;

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;    
}

.proje:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #003631; 
}

.proje figcaption {
    padding: 20px;
    text-align: center;
}

.proje h3 {
    margin: 0 0 10px 0;
    color: #003631;
}

.proje p {
    color: #004b43;
    font-size: 0.9em;
}



.yan{
    left: 70%;
}










footer{
    background-color: #003631;
    color: #ffeda8;
    text-align: center;
    padding: 10px 0;
    line-height: 1em;
    
}

footer h3 {
    color: #ffeda8;
}
#ilk{
    position: relative;
    display: flex;
    text-align: center;
    justify-content:center ;
    gap: 10px;
    
}
#ilk h3{
    margin: 0;
}

#donus{
    position: absolute;
    right: 5%;
    top: 10%;
    transform: translateY(-10%);

    width: 35%;
    margin: 0;
    padding-right: 5%;
    box-sizing: border-box;
}
a img{
    width: 10%;
    border-radius: 100%;
    box-shadow: 0px 2px 0px #ffeda8;
    border: 3px solid #ffeda8;
}
